<div class="info">
  <header class="info-header">
    <h3 class="section-header">
      <a ng-click="
        specs.info.$folded = !specs.info.$folded;
        foldEditor(['info'], specs.info.$folded);
        ">{{specs.info.title}}</a>
    </h3>
  </header>

  <div class="info-container section-content" collapse-when="specs.info.$folded">
    <div marked="specs.info.description"></div>
    <h4>Version <span>{{specs.info.version}}</span></h4>
    <p ng-if="specs.info.publication"><b>Publication:</b> {{specs.info.publication}}</p>
    <p ng-if="specs.info.accessRestriction"><b>Access restriction:</b> {{specs.info.accessRestriction}}</p>
    <p ng-if="specs.info.sslSupport"><b>SSL support:</b> {{specs.info.sslSupport}}</p>
    <p ng-if="specs.info.socialMediaLinks"><b>Social media links:</b> {{specs.info.socialMediaLinks}}</p>
    <p ng-if="specs.info.accessPointMirrors"><b>access point mirrors:</b> {{specs.info.accessPointMirrors}}</p>
    <p ng-if="specs.info.APIaccessMode"><b>API access mode:</b> {{specs.info.APIaccessMode}}</p>
    <p ng-if="specs.info.APIlocation"><b>API location:</b> {{specs.info.APIlocation}}</p>
    <p ng-if="specs.info.APIimplementationLanguage"><b>API implementation language:</b> {{specs.info.APIimplementationLanguage}}</p>
    <p ng-if="specs.info.APImaturity"><b>API maturity:</b> {{specs.info.APImaturity}}</p>

    <div class="contact info-box" ng-if="specs.info.contact">
      <p ng-if="specs.info.contact.responsibleOrganization"><b>Responsible Organization:</b> {{specs.info.contact.responsibleOrganization}}</p>
      <p ng-if="specs.info.contact.responsibleDeveloper"><b>Responsible Developer:</b> {{specs.info.contact.responsibleDeveloper}}</p>
      <p ng-if="specs.info.contact.email" ng-bind-html="specs.info.contact.email | linky:'_blank'"></p>
      <p ng-if="specs.info.contact.url" ng-bind-html="specs.info.contact.url | linky:'_blank'"></p>
      <p ng-if="specs.info.contact.funding"><b>Funding information:</b> {{specs.info.contact.funding}}</p>
      <p ng-if="specs.info.contact.contributor"><b>contributor:</b> {{specs.info.contact.contributor}}</p>
      <p ng-if="specs.info.contact.developerForum"><b>Developer forum:</b> {{specs.info.contact.developerForum}}</p>
    </div>
    <div class="terms info-box" ng-if="specs.info.termsOfService">
      <h4>Terms of service</h4>
      <p ng-bind-html="specs.info.termsOfService | linky:'_blank'"></p>
    </div>
    <div class="external-docs" ng-if="specs.externalDocs">
      <a href="{{specs.externalDocs.url}}" marked="specs.externalDocs.description"></a>
    </div>
    <div ng-if="specs.info.license" class="license info-box">
      <h4>License</h4>
      <p ng-if="!specs.info.license.url">{{specs.info.license.name}}</p>
      <p ng-if="specs.info.license.url">
        <a target="_blank" href="{{specs.info.license.url}}">{{specs.info.license.name}}</a>
      </p>
    </div>
  </div>
</div>
